<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{{ url_for('main.dashboard') }}">
       <img width="40" height="40" src="https://img.icons8.com/fluency/48/coin-wallet.png" alt="coin-wallet"/> MyWallet Pro
    </a>
    <!-- Mobile toggle button-->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
    <ul class="navbar-nav align-items-center mb-2 mb-lg-0">
      {% if user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.add_transaction') }}">
            Add Transaction
          </a>
        </li>
    
        <li class="nav-item">
          <span class="nav-link disabled">
            Hello, {{ user.username }}
          </span>
        </li>
    
        <li class="nav-item">
          <a class="btn btn-outline-light ms-2" href="{{ url_for('main.logout') }}">
            Logout
          </a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="btn btn-light me-2" href="{{ url_for('main.login') }}">
            Login
          </a>
        </li>
    
        <li class="nav-item">
          <a class="btn btn-outline-light" href="{{ url_for('main.register') }}">
            Sign Up
          </a>
        </li>
      {% endif %}
    </ul>
    </div>
  </div>
</nav>


