body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.navbar-brand {
    font-size: 1.4rem;
}

table tbody tr td {
    vertical-align: middle;
}
.mood-area {
  margin-top: 130px;   
  text-align: center;  
}
.mood-gif {
  width: 220px;       
  height: auto;
  opacity: 0.9;
}

