body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.navbar-brand {
    font-size: 1.4rem;
}

table tbody tr td {
    vertical-align: middle;
}
.mood-area {
  margin-top: 130px;   
  text-align: center;  
}
.mood-gif {
  width: 220px;       
  height: auto;
  opacity: 0.9;
}

.text-center small {
    font-size: 0.95rem;
    color: #6c757d;
}
.text-center small a {
    margin-left: 6px;
    font-weight: 600;
    color: #0d6efd;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}
.text-center small a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #0d6efd;
    transition: width 0.3s ease;
}
.text-center small a:hover {
    color: #084298;
}
.text-center small a:hover::after {
    width: 100%;
}
.rive-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

#riveCanvas {
  width: 100%;
  max-width: 420px;
  height: 260px;
}
.rive-wrap02{
    margin-top: -130px;
}
