{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">
    <!-- Rive Bunny -->
    <div class="rive-wrap rive-wrap02 mb-2">
      <canvas id="riveCanvas" width="420" height="260"></canvas>
    </div>
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="fw-bold text-center mb-4">Sign Up</h3>

        <form method="POST" action="{{ url_for('register') }}">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input
              id="usernameInput"
              type="text"
              name="username"
              class="form-control"
              placeholder="Choose username"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              id="emailInput"
              type="email"
              name="email"
              class="form-control"
              placeholder="Enter email"
              required
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input
              id="passwordInput"
              type="password"
              name="password"
              class="form-control"
              placeholder="Create password"
              required
            />
          </div>

          <button class="btn btn-primary w-100">Create Account</button>
        </form>

        <div class="text-center mt-3">
            <small>
                Already have an account?
                <a href="{{ url_for('login') }}">Sign In</a>
            </small>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@rive-app/canvas@2.21.3"></script>
<script src="{{ url_for('static', filename='js/rive_register.js') }}"></script>

{% endblock %}
